.homes {
  display: grid;
  grid-gap: 7rem;
  margin: 15rem 0;
  grid-column: center-start / center-end;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.home {
  display: grid;
  grid-row-gap: 3.5rem;
  grid-template-columns: repeat(2, 1fr);
  background-color: $color-grey--light-1;

  &__img {
    z-index: 1;
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }

  &__name {
    z-index: 3;
    grid-row: 1 / 2;
    align-self: end;
    grid-column: 1 / -1;
    justify-self: center;

    width: 80%;
    padding: 1.25rem;
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
    color: $color-white;
    transform: translate3d(50%);
    background-color: $color-secondary;
  }

  &__rooms,
  &__location {
    margin-top: 2.5rem;
  }
}
