.homes {
  display: grid;
  grid-gap: 7rem;
  margin: 15rem 0;
  grid-column: center-start / center-end;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.home {
  display: grid;
  grid-row-gap: 3.5rem;
  grid-template-columns: repeat(2, 1fr);
  background-color: $color-grey--light-1;

  &__img {
    z-index: 1;
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }

  &__like {
    z-index: 2;
    margin: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    grid-row: 1 / 2;
    justify-self: end;
    grid-column: 2 / 3;
    fill: $color-primary;
  }

  &__name {
    z-index: 3;
    grid-row: 1 / 2;
    align-self: end;
    grid-column: 1 / -1;
    justify-self: center;

    width: 80%;
    padding: 1.25rem;
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
    color: $color-white;
    transform: translate3d(0, 50%, 0);
    background-color: $color-secondary;
  }

  &__rooms,
  &__location {
    margin-top: 2.5rem;
  }

  &__area,
  &__rooms,
  &__price,
  &__location {
    display: flex;
    font-size: 1.5rem;
    margin-left: 2rem;
    align-items: center;

    svg {
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;
      fill: $color-primary;
    }
  }

  &__button {
    grid-column: 1 / -1;
  }
}
