.realtors {
  display: grid;
  padding: 3rem;
  grid-row-gap: 2rem;
  align-content: center;
  justify-items: center;
  justify-content: center;
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / -1;
  }

  &__list {
    display: grid;
    grid-row-gap: 5vh;
    align-items: center;
    grid-column-gap: 2rem;
    grid-template-columns: min-content max-content;
  }

  &__img {
    width: 7rem;
    display: block;
    border-radius: 50%;
  }

  &__sold {
    //margin-top: -3px;
    text-transform: uppercase;
    color: $color-grey--light-2;
  }
}
